body {
  text-align: center;
  background: #1D5962;
  color: #EBF4FA;
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

:root{
  --base: #FFFF00;
  --spacing: 10px;
  --blur: 3px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl{
  color: var(--base);
}
